/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/
body {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100%;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

header {
  height: 127px;
  background: #272221;
  display: flex;
}
header nav {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: space-around;
  flex-flow: row;
}
header nav div {
  flex: 1 auto;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
header nav div a {
  text-decoration: none;
  color: white;
}
header nav .menu:hover {
  background-color: #413a38;
}
header nav .menu:hover .submenu {
  display: block;
}
header nav .menu {
  position: relative;
  z-index: 99;
}
header nav .submenu {
  display: none;
  position: absolute;
  background-color: #413a38;
  width: 100vw;
  left: 0;
  z-index: 98;
  text-align: left;
}
header nav .submenu div {
  width: 100%;
}
header nav .submenu div:hover {
  background-color: #615653;
}

.row {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  flex-flow: row wrap;
}

.miniMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.miniMenu div {
  padding: 10px 15px;
  border-right: 1px solid #272221;
}

.col-1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-1 img {
  width: 100%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-2 img {
  width: 100%;
}

.col-3 {
  flex-basis: 25%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-3 img {
  width: 100%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-4 img {
  width: 100%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-5 img {
  width: 100%;
}

.col-6 {
  flex-basis: 50%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-6 img {
  width: 100%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-7 img {
  width: 100%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-8 img {
  width: 100%;
}

.col-9 {
  flex-basis: 75%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-9 img {
  width: 100%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-10 img {
  width: 100%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-11 img {
  width: 100%;
}

.col-12 {
  flex-basis: 100%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-12 img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
